<a href="https://colab.research.google.com/github/matvid/Proyecto_Predicciones_ventas/blob/main/Proyecto_Predicciones_de_ventas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PROYECTO**

Predicción de ventas para productos alimenticios vendidos en diversas tiendas. El objetivo de este es ayudar a un comerciante a comprender tanto las propiedades de los productos así como los puntos de venta que desempeñan un papel crucial en el aumento de las ventas.

*   **Carga de datos**

In [ ]:
#Montar Drive
from google.colab import drive
drive.mount ("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Importar librerías
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
#Cargar dataframe
filename = ("/content/drive/MyDrive/Bootcamp/Coding Dojo/Proyecto 1/Datas/sales_predictions_2023.csv")
df = pd.read_csv(filename)

*   **Diccionario de datos**

![diccionario.png]()

*   **Revisión de datos**

In [ ]:
#Visualizar encabezado del dataframe
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
#Visualizar cola del dataframe
df.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

**Actividad - Parte 2**

**1)¿Cuántas filas y columnas hay?**

In [ ]:
#Identificar estructura del dataframe
df.shape
print(f"El dataframe consta con",df.shape[0],"filas y",df.shape[1],"columnas.")

El dataframe consta con 8523 filas y 12 columnas.

**2) ¿Cuáles son los tipos de datos de cada variable?**

In [ ]:
#Visualizar tipo de variables del dataframe
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

**3) ¿Hay duplicados? Si es el caso, elimínelos.**

In [ ]:
#Revisar presencia de duplicados en el dataframe
df.duplicated().sum()

0

No existen duplicados en el dataframe.

**4) Identifique los valores faltantes.**

In [ ]:
#Revisar presencia de valores faltantes en el dataframe
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Existen dos columnas que cuentan con valores faltantes. Estas son, "Item_Weight" y "Outlet_Size".

**5) Decida qué hacer con los valores faltantes y cómo hacerlo. (Esto requiere de su criterio, así que explique cada elección).**

*   **Columna "Item_Weight"**

In [ ]:
#Análisis: Filtrar columnas por datos faltantes en "Item_Weight"
item_weight_faltantes = df["Item_Weight"].isna()
df.loc[item_weight_faltantes,:]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

Al visualizar los datos de la columna "Item_Weight", y para definir cómo tratar esta columna se analiza lo siguiente:

Relación directa: al analizar sólo esta columna, no existe información que permita identificar el valor de los datos faltantes.
Correlación: existe correlación con la columna "Item_Identifier".

Por lo anterior, se deberá reemplazar el dato faltante por el peso del producto según la columna "Item_Identifier". Esto debido a que el peso del producto es único.

In [ ]:
#Identificar el peso de cada producto
df.groupby("Item_Identifier")["Item_Weight"].max()

Item_Identifier
DRA12    11.600
DRA24    19.350
DRA59     8.270
DRB01     7.390
DRB13     6.115
          ...
NCZ30     6.590
NCZ41    19.850
NCZ42    10.500
NCZ53     9.600
NCZ54    14.650
Name: Item_Weight, Length: 1559, dtype: float64

Debido a que el peso es único para el producto, se decide identificar el peso con el valor máximo del Item_Identifier. (Se podría usar la moda, el mínimo, o bien, el máximo)

In [ ]:
#Reemplazar valores faltantes por el valor máximo para el grupo correspondiente
df["Item_Weight"] = df.groupby("Item_Identifier")["Item_Weight"].apply(lambda x: x.fillna(x.max()))

<ipython-input-194-4ba2882feace>:2: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df["Item_Weight"] = df.groupby("Item_Identifier")["Item_Weight"].apply(lambda x: x.fillna(x.max()))

*   **Columna "Outlet_Size"**

In [ ]:
#Análisis: Filtrar columnas por datos faltantes en "Outlet_Size"
outlet_size_faltantes = df["Outlet_Size"].isna()
df.loc[outlet_size_faltantes,:]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
...,...,...,...,...,...,...,...,...,...,...,...,...
8502,NCH43,8.420,Low Fat,0.070712,Household,216.4192,OUT045,2002,NaN,Tier 2,Supermarket Type1,3020.0688
8508,FDW31,11.350,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,NaN,Tier 2,Supermarket Type1,2587.9646
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804
8514,FDA01,15.000,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850

In [ ]:
#Revisar qué valores de la columna "Outlet_Size"
df["Outlet_Size"].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

Al visualizar los datos de la columna "Outlet_Size", y para definir cómo tratar esta columna se analiza lo siguiente:
1.   Relación directa: al analizar sólo esta columna, no existe información que permita identificar el valor de los datos faltantes.
2. Correlación: no existe relación con el resto de las columnas.
3. Métodos estadísticos: no aplica una revisión estadística en esta columna.
4. Eliminar datos: debido a que los datos faltantes corresponden a un 28,3% del total de la columna, y que eliminar estos datos puede alterar y entregar información errónea de la muestra del dataframe, se decide no eliminar esta información.

Por lo anterior, y si bien corresponde consultar y/o recabar más información del dataframe con el equipo técnico de la empresa, se decide mantener los datos faltantes debido a su magnitud en el dataframe e incorporar una variable denominada "Sin información".

In [ ]:
#Reemplazar datos faltantes por "Sin información"
df["Outlet_Size"].fillna("Sin información", inplace=True)
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Sin información,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Sin información,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

**6) Confirme que no hay valores faltantes después de tratarlos.**

In [ ]:
#Revisar nuevamente la presencia de datos faltantes en el dataframe
df.isna().sum()

Item_Identifier              0
Item_Weight                  4
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

Aún continúan existiendo 4 datos faltantes en la columna "Item_Weight".

In [ ]:
#Revisar los 4 datos que aún continúan en blanco en la columna "Item_Weight"
item_weight_faltantes_nuevo = df["Item_Weight"].isna()
df.loc[item_weight_faltantes_nuevo,:]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
927,FDN52,NaN,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564
1922,FDK57,NaN,Low Fat,0.079904,Snack Foods,120.0440,OUT027,1985,Medium,Tier 3,Supermarket Type3,4434.2280
4187,FDE52,NaN,Regular,0.029742,Dairy,88.9514,OUT027,1985,Medium,Tier 3,Supermarket Type3,3453.5046
5022,FDQ60,NaN,Regular,0.191501,Baking Goods,121.2098,OUT019,1985,Small,Tier 1,Grocery Store,120.5098

In [ ]:
#Revisar si existe otro producto FDN52 en el dataframe
producto_FDN52 = df[df["Item_Identifier"] == "FDN52"]
producto_FDN52

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
927,FDN52,NaN,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564

In [ ]:
#Revisar si existe otro producto FDK57 en el dataframe
producto_FDK57 = df[df["Item_Identifier"] == "FDK57"]
producto_FDK57

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1922,FDK57,NaN,Low Fat,0.079904,Snack Foods,120.044,OUT027,1985,Medium,Tier 3,Supermarket Type3,4434.228

In [ ]:
#Revisar si existe otro producto FDE52 en el dataframe
producto_FDE52 = df[df["Item_Identifier"] == "FDE52"]
producto_FDE52

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4187,FDE52,NaN,Regular,0.029742,Dairy,88.9514,OUT027,1985,Medium,Tier 3,Supermarket Type3,3453.5046

In [ ]:
#Revisar si existe otro producto FDQ60 en el dataframe
producto_FDQ60 = df[df["Item_Identifier"] == "FDQ60"]
producto_FDQ60

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5022,FDQ60,NaN,Regular,0.191501,Baking Goods,121.2098,OUT019,1985,Small,Tier 1,Grocery Store,120.5098

Según los filtros revisados anteriormente, estos productos sólo aparecen una vez en el dataframe, por lo que no existe el peso de estos productos.
En vista de estos antecedentes, y además, ya que no existe una nueva correlación con otras columnas, y que estos cuatro datos corresponden a un 0.05% del total de la columna, se procederán a eliminar.

In [ ]:
#Eliminar filas vacias de la columna "Item_Weight"
df.dropna(subset=["Item_Weight"], inplace=True)

In [ ]:
#Revisar nuevamente la presencia de datos faltantes en el dataframe
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

**7) Encuentre y arregle cualquier categoría inconsistente en los datos (ejemplo: arreglar los datos gato, Gato y Gatos de manera que sean consistentes)**

*   **Columnas numéricas**

In [ ]:
#Revisar inconsistencias en columnas numéricas
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8519.000000,8519.000000,8519.000000,8519.000000,8519.000000
mean,12.875420,0.066112,141.010019,1997.837892,2181.188779
std,4.646098,0.051586,62.283594,8.369105,1706.511093
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026983,93.844900,1987.000000,834.247400
50%,12.650000,0.053925,143.047000,1999.000000,1794.331000
75%,16.850000,0.094558,185.676600,2004.000000,3100.630600
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

No se identifican inconsistencias en las columnas numéricas.

*   **Columna "Item_Identifier"**

In [ ]:
#Revisar inconsistencias en columnas no numéricas - Item_Identifier
df["Item_Identifier"].value_counts()

FDG33    10
FDW13    10
FDV60     9
FDU12     9
FDX20     9
         ..
DRF48     1
FDY43     1
FDC23     1
FDO33     1
FDT35     1
Name: Item_Identifier, Length: 1555, dtype: int64

No se identifican inconsistencias en la columna "Item_identifier".

*   **Columna "Item_Fat_Content**

In [ ]:
#Revisar inconsistencias en columnas no numéricas - Item_Fat_Content
df["Item_Fat_Content"].value_counts()

Low Fat    5088
Regular    2886
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

Se identifican inconsistencias en la asignación de las variables "LF", "reg" y "low fat". Se debe proceder a reemplazar por "Low Fat" y "Regular" según corresponda".

In [ ]:
#Reemplazar valores inconsistentes
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace({"Low Fat":"Low", "LF":"Low", "low fat":"Low", "reg":"Regular"})
df["Item_Fat_Content"].value_counts()

Low        5516
Regular    3003
Name: Item_Fat_Content, dtype: int64

*   **Columna "Item_Type"**

In [ ]:
#Revisar inconsistencias en columnas no numéricas - Item_Type
df["Item_Type"].value_counts()

Fruits and Vegetables    1232
Snack Foods              1199
Household                 910
Frozen Foods              855
Dairy                     681
Canned                    649
Baking Goods              647
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

No se identifican inconsistencias en la columna "Item_Type".

*   **Columna "Outlet_Identifier"**

In [ ]:
#Revisar inconsistencias en columnas no numéricas - Outlet_Identifier
df["Outlet_Identifier"].value_counts()

OUT013    932
OUT027    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    527
Name: Outlet_Identifier, dtype: int64

No se identifican inconsistencias en la columna "Outlet_Identifier".

*   **Columna "Outlet_Size"**

In [ ]:
#Revisar inconsistencias en columnas no numéricas - Outlet_Size
df["Outlet_Size"].value_counts()

Medium             2790
Sin información    2410
Small              2387
High                932
Name: Outlet_Size, dtype: int64

No se identifican inconsistencias en la columna "Outlet_Size".

*   **Columna "Outlet_Location_Type"**

In [ ]:
#Revisar inconsistencias en columnas no numéricas - Outlet_Location_Type
df["Outlet_Location_Type"].value_counts()

Tier 3    3347
Tier 2    2785
Tier 1    2387
Name: Outlet_Location_Type, dtype: int64

No se identifican inconsistencias en la columna "Outlet_Location_Type".

*   **Columna "Outlet_Type"**

In [ ]:
#Revisar inconsistencias en columnas no numéricas - Outlet_Type
df["Outlet_Type"].value_counts()

Supermarket Type1    5577
Grocery Store        1082
Supermarket Type3     932
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

No se identifican inconsistencias en la columna "Outlet_Type".

**8) Para cualquier columna numérica, obtenga las estadísticas resumidas de cada una (mínimo, máximo y media)**

In [ ]:
#Crear variable que contenga sólo columnas numéricas del df
columnas_numericas = df[["Item_Weight","Item_Visibility","Item_MRP","Outlet_Establishment_Year","Item_Outlet_Sales"]]
columnas_numericas

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
0,9.300,0.016047,249.8092,1999,3735.1380
1,5.920,0.019278,48.2692,2009,443.4228
2,17.500,0.016760,141.6180,1999,2097.2700
3,19.200,0.000000,182.0950,1998,732.3800
4,8.930,0.000000,53.8614,1987,994.7052
...,...,...,...,...,...
8518,6.865,0.056783,214.5218,1987,2778.3834
8519,8.380,0.046982,108.1570,2002,549.2850
8520,10.600,0.035186,85.1224,2004,1193.1136
8521,7.210,0.145221,103.1332,2009,1845.5976
8522,14.800,0.044878,75.4670,1997,765.6700

In [ ]:
#Obtener datos estadísticos (mínimo, máximo y media) de las columnas mencionadas anteriormente
columnas_numericas.describe().round(2).loc[["min","max","mean"]]

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
min,4.56,0.00,31.29,1985.00,33.29
max,21.35,0.33,266.89,2009.00,13086.96
mean,12.88,0.07,141.01,1997.84,2181.19

**Actividad - Parte 3**